<p id="notice"><%= notice %></p>

<h1>Items</h1>
<%= form_tag order_items_path, method: :post, id: 'send-items-id' do  %>
  <% @item_categories.each do |item_category| %>
    <div> Category Name: <%= item_category.name %></div>
      <% if item_category.items.present? %>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Rate</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% item_category.items.each do |item| %>
              <tr>
                <td><%=check_box_tag 'selected_items[]', item.id%></td>

                <td><%= item.name %></td>
                <td><%= item.rate %></td>
                <td><%= link_to 'Show', item %></td>
                <td><%= link_to 'Edit', edit_item_path(item) %></td>
                <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        "No items Found"
      <% end%>
  <% end %>
  <br>
  <%= content_tag :button, :type => :submit, class: 'btn btn-success' do %>
    Submit
  <%end%>
<% end %> 
<br>

<%= link_to 'New Item', new_item_path %>
