<!DOCTYPE html>
<html>
  <head>
    <title>TaxesApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Items', items_path %>

    <%= link_to 'Item categories', item_categories_path %>

    <%= link_to 'Item taxes', item_taxes_path %>

    <%= yield %>
  </body>
</html>
